<h1>Записаться</h1><br>

<form action="/visit" method="POST">
	Your name:<br />
	<input type="text" name="username" style="width:400px;height:30px" /><br /><br>
	Your phone:<br />
	<input type="text" name="phone" style="width:400px;height:30px" /><br /><br>
	Your date and time:<br />
	<input type="text" name="datetime" style="width:400px;height:30px" /><br /><br>
	<br />

	<select name="master" class="form-select" style="width:400px;height:30px">
        <option selected>Hairdresser</option>
        <option value="manicure">Manicure</option>
        <option value="pedicure">Pedicure</option>
        <option value="cosmetology">Cosmetology</option>
        <option value="massage">Massage</option>
        <option value="sugarint">Sugarint</option>
        <option value="stylist">Stylist</option>
    </select>
    <br /><br />
	<input type="submit" value="send" style="width:130px;height:30px" class="btn btn-primary" /><br />
</form>
