<h1>Записаться</h1><br>

<form action="/visit" method="POST">
	Your name:<br />
	<input type="text" name="username" style="width:400px;height:30px" /><br /><br>
	Your phone:<br />
	<input type="text" name="phone" style="width:400px;height:30px" /><br /><br>
	Your date and time:<br />
	<input type="text" name="datetime" style="width:400px;height:30px" /><br /><br>
	<br />

	<select class="form-select" style="width:400px;height:30px">
        <option selected>Hairdresser</option>
        <option value="1">Manicure</option>
        <option value="2">Pedicure</option>
        <option value="3">cosmetology</option>
        <option value="3">Massage</option>
        <option value="3">Sugarint</option>
        <option value="3">Stylist</option>
    </select>
    <br /><br />
	<input type="submit" /><br />
</form>
