<h1>Our masters:</h1>
<p><a class="hairdresser" href="/">Hairdresser</a></p>
<p><a class="manicure" href="/">Manicure</a></p>
<p><a class="pedicure" href="/">Pedicure</a></p>
<p><a class="cosmetologist" href="/">Cosmetologist</a></p>
<p><a class="massage" href="/">Massage</a></p>
<p><a class="sugarint" href="/">Sugarint</a></p>
<p><a class="stylist_services" href="/">Stylist services</a></p>