<h1>Записаться</h1>
<form action="/" method="POST">
	Your name:<br />
	<input type="text" name="username" /><br />
	Your phone:<br />
	<input type="text" name="phone" /><br />
	Your date and time:<br />
	<input type="text" name="datetime" /><br />

	<input type="submit" /><br />
</form>
